.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#taskList {
  display: flex;
  flex-direction: column;
}

.task-transition {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s, transform 0.3s;
}

.task-visible {
  opacity: 1;
  transform: scale(1);
}